.why-bufet {
    padding: 110px 90px 60px 10px;
    background-color: #F5F7FB;
}

.img-mobile2 img {
    max-width: 100%;
    position: unset !important;
}

.check-bufet h6{
    color: #3665C7;
}

.check-bufet p {
    color: #232d3f;
    margin-left: 20px;
}

.title-bufet {
    padding-top: 20px;
}

.title-bufet p,
.title-bufet h1 {
    margin-bottom: 30px;
}

.btn-read {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #3665C7;
    margin-top: 45px;
    letter-spacing: 3px;
    font-size: 15px;
    /* transition: all .9s; */
}

.btn-read:hover {
    background: rgb(68,154,195);
    background: linear-gradient(81deg, rgba(68,154,195,1) 30%, rgba(45,185,253,1) 55%);
    box-shadow: 3px 5px 15px 5px rgba(184,193,198,1) ;
}

@media (max-width: 768px) {
    .img-mobile2 {
        display: none;
    }

    .why-bufet {
        padding: 110px 20px 60px 20px;
    }
}