.advance-features {
    background-color: #F5F7FB;
    padding: 90px 0 110px 0;
}

/* left */
.left-advance strong {
    font-size: 36px;
    color: #595959;
}

.left-advance div {
    margin-top: 34px;
    padding: 5px;
}

.left-advance div:hover {
    background: rgb(140,158,255);
    background: linear-gradient(328deg, rgba(140,158,255,1) 4%, rgba(90,185,232,1) 36%);
    border-radius: 5px;
}

.left-advance h5 {
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0 10px 0;
}

.left-advance p {
    font-size: 14px;
    line-height: 24px;
}

.right-advance {
    padding-left: 20px;
}

/* right */
/* check */

.check-bufet h6{
    color: #3665C7;
}

.check-bufet p {
    color: #232d3f;
    margin-left: 20px;
}

.right-advance h1{
    margin: 55px 0 20px 0;
    font-weight: 700;
}

.content-right-advance {
    margin-bottom: 20px;
}

@media (max-width:768px) {
    .right-advance h1 {
        font-size: 36px;
    }

    .left-advance {
        text-align: center;
    }
}

@media (max-width:767px) {
    .advance-features {
        padding: 40px 0 60px 0;
    }
}

@media (max-width: 576px) {
    .right-advance h1 {
        font-size: 32px;
    }
}