.header-home {
    background-image: url("../../../../images/homepage-1-bg.png");
  min-height: 100vh;
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    -webkit-background-size: cover;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.header-home h1 {
    font-size: 66px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 46px;
    color: #fff;
    visibility: visible;
}

.header-home p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 45px;
    line-height: 28px;
    width: 60%;
    color: #fff;
    /* animation-delay: 0.5s; */
}

.animation-under-title {
    transform: translateX(-100px);
}

.animation-title {
    transform: translateY(50px);
}

.btn-download {
    width: 200px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid #fff;
    background: transparent;
    text-align: center;
    line-height: 60px;
    transition: all .3s;
}

.btn-download:hover {
    background: rgb(68,154,195);
    background: linear-gradient(81deg, rgba(68,154,195,1) 30%, rgba(45,185,253,1) 55%);
}

.btn-download a {
    color: #fff;
    text-decoration: none;
    display: block;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 500;
}

.img-header-home img {
    max-width: 100%;
}

.img-header-home {
    position: absolute;
    top: 17%;
    right: -150px;
}

/* responsive */
@media (max-width: 1169px) and (min-width: 992px) {
.img-header-home {
    right: -17px;
    width: 35%;
    top: 19%;
}

.header-home h1 {
    font-size: 43px;
    line-height: 57px;
}
}

@media (max-width: 991px) and (min-width: 769px){
.img-header-home {
    right: -153px;
    top: 15%;
}

.img-header-home img {
    width: 65%;
}

.header-home h1 {
    font-size: 35px;
    line-height: 47px;
}

.header-home {
  min-height: 159vh;
}
}

@media (max-width: 768px){
    .img-header-home {
       display: none;
    }

    .header-home h1 {
        font-size: 40px;
        line-height: 47px;
    }
}

@media (max-width: 736px) and (min-width: 568px){
    .header-home {
      min-height: 155vh;
    }
    }

@media (max-width: 567px){
        .header-home h1 {
            font-size: 35px;
            line-height: 47px;
        }

        .header-home p {
            width: 80%;
        }
}

@media (max-width: 320px){
    .header-home h1 {
        font-size: 29px;
        line-height: 47px;
        margin-bottom: 15px;
    }

    .header-home p {
        margin-bottom: 15px;
    }
}