.icon-forcast {
    text-align: center;
    border: 1px solid #dee6f8;
    padding: 50px 29px;
    position: relative;
}

.forcast {
    padding: 100px 0 130px 0;
}

.forcast .col-md-4 {
    margin-top: 80px;
}

.style-icon-forcast {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #ecf1fc;
    text-align: center;
    line-height: 100px;
    margin: auto;
    font-size: 37px;
    color: #5d7dea;
    transition: all .3s ease-in-out;
}

.icon-forcast a {
    text-decoration: none;
    color: #2c324b;
    font-size: 24px;
    transition: all .3s ease-in-out;
}

.icon-forcast:hover .style-icon-forcast {
    background-color: #5D7DEA;
    color: #fff;
}

.icon-forcast:hover a {
    color: #5D7DEA;
}

.btn-forcast {
    margin-top: 30px;
}

.icon-forcast p {
    margin-top: 30px;
    font-size: 16px;
    color: #535e72;
    line-height: 28px;
}

.icon-forcast h1 {
    font-size: 98px;
    position: absolute;
    top: -21px;
    left: 0;
    font-weight: 600;
    color: #f5f8ff;
}