.style-app-mobile {
    background-color: #F5F7FB;
    padding: 100px 0;
}

.app-mobile {
    text-align: center;
    margin-bottom: 40px;
}

.app-mobile p {
    font-size: 40px;
    font-weight: 300;
    color: #2c324b;
    line-height: 55px;
}

.app-mobile strong {
    color: #5d7dea;

}

/* button */

.btn-android {
    width: 220px;
    height: 70px;
    border-radius: 35px;
    border: 2px solid #5d7dea;
    position: relative;
    float: right;
}

.btn-android:hover {
    background: rgb(68,154,195);
    background: linear-gradient(81deg, rgba(68,154,195,1) 30%, rgba(45,185,253,1) 55%);
    box-shadow: 3px 5px 15px 5px rgba(184,193,198,1) ;
}

.btn-android:hover .icon-android,
.btn-android:hover p span,
.btn-android:hover p strong {
    color: #fff;
}

.btn-android p {
    margin-top: 15px;
    line-height: 17px;
    margin-left: 72px;
}

.btn-android p strong {
    font-size: 18px;
    font-weight: 700;
    color: #2c324b;
}

.btn-android p span {
    font-size: 14px;
    color: #4e5a6d;
}

.btn-android a {
    display: grid;
    text-decoration: none;
}

.icon-android {
    position: absolute;
    left: 30px;
    top: 15px;
    font-size: 24px;
    color: #2c324b;
}

.btn-apple {
    float: left;
}

@media (max-width: 768px) {

    .btn-android {
        float: none;
        margin: auto;
        margin-top: 20px;
    }

    .btn-apple {
        float: none;
    }
}

@media (max-width: 576px) {
    .app-mobile p {
        font-size: 20px;
        line-height: 35px;
    }

    .style-app-mobile {
        padding: 50px 0;
    }
}
